<div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h5 class="m-0">Submenu-3</h5>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb p-0 float-sm-right">
            <li class="breadcrumb-item">08/25/2021</li>
            <li class="breadcrumb-item ">OPASAK_HK_U</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <section class="content">
  
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <!-- Default box -->
            <div class="card">
              <div class="card-header table-responsive">
              
  
              </div>
              <div class="card-body">
                Start creating your amazing application!
              
              </div>
              <!-- /.card-body -->
              <div class="card-footer justify-content-center ">
              <div class="inline-btn-group">
                <button type="button"  class="btn btn-primary" appRoleBasedBtn  action="insert" >Insert</button>
                <button type="button"  appRoleBasedBtn  action="update" class="btn btn-primary">Update</button>
                <button type="button"  appRoleBasedBtn  action="delete" class="btn btn-primary">Delete</button>
                <button type="button"  appRoleBasedBtn  action="activate" class="btn btn-primary">Activate</button>
                <button type="button"  appRoleBasedBtn  action="exit" class="btn btn-primary">Exit</button>
              
              </div>
               
            
  
              </div>
              <!-- /.card-footer-->
            </div>
            <!-- /.card -->
          </div>
        </div>
      </div>
    </section>